@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Comum */
body {
    font-family: 'Raleway', sans-serif;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0.5px;
}

header {
    margin: 0%;
    text-align: center;
    border: 1.5px solid #d8d8d8;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    background: white;
}

header h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 5px 10px;
    margin: 0 1px;
}

header a {
    text-decoration: none;
    color: black;
}

.selecionado {
    color: rgb(206, 40, 40);
    font-weight:bold;
}

footer {
    background-color: #d8d8d8e3;
    width: 100%;
    margin: 0;
}

footer p {
    padding: 5px;
    margin: 0;
    text-align: center;
}

.about-texto {
    padding-top: 150px;
    text-align: center;
}

.about-imagem {
    text-align: center;
}
.about-imagem img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-style: ridge;
    border-width: 7px;
    border-color: steelblue;
}